<div class="row">
    <div class="col-6">
        <form [formGroup]="alumno" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="matricula" class="form-label">Matrícula</label>
                <input type="text" placeholder="Matrícula" name="matricula" id="matricula" class="form-control"
                    formControlName="matricula">
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" placeholder="Nombre" name="nombre" id="nombre" class="form-control"
                    formControlName="nombre">
            </div>
            <div class="mb-3">
                <label for="apaterno" class="form-label">Apellido paterno</label>
                <input type="text" placeholder="Apellido paterno" name="apaterno" id="apaterno" class="form-control"
                    formControlName="apaterno">
            </div>
            <div class="mb-3">
                <label for="amaterno" class="form-label">Apellido materno</label>
                <input type="text" placeholder="Apellido materno" name="amaterno" id="amaterno" class="form-control"
                    formControlName="amaterno">
            </div>
            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="text" placeholder="Correo" name="correo" id="correo" class="form-control"
                    formControlName="correo">
            </div>
            <div class="mb-3"><button type="submit" class="btn btn-primary">Agregar</button></div>
        </form>
    </div>

    <div class="col-6"></div>
</div>